
/* formatação das hiperligações do nav */ 
a {
  color: inherit;
  text-decoration: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* formatação do corpo da página */ 
body {
  width: 100%;
  background-color: #1b1b1b;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
/* formatação ao seleccionar um texto fica com estes padrões de cor */ 
::selection {
  background-color: #f7ca18;
  color: #1b1b1b;
}
/* formatação do nav da página */ 
nav {
  width: 100%;
  background-color: #0b0b0b;
  position: fixed;
  top: 0;
  height: 80px;
}
/* formatação da lista do nav */ 
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0 10px 0 10px;
}
/* formatação dos itens na lista do nav */ 
nav li {
  line-height: 100px;
  text-align: center;
  color: #555;
  transition: background-color 0.5s 0.2s ease, color 0.3s ease;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 800;
  transform: translateY(100%);
}
nav li:nth-child(1) {
  animation: pop 0.5s 0.15s 1 forwards;
}
nav li:nth-child(2) {
  animation: pop 0.5s 0.3s 1 forwards;
}
nav li:nth-child(3) {
  animation: pop 0.5s 0.45s 1 forwards;
}
nav li:nth-child(4) {
  animation: pop 0.5s 0.6s 1 forwards;
}
nav li:nth-child(5) {
  animation: pop 0.5s 0.75s 1 forwards;
}
nav li:nth-child(6) {
  animation: pop 0.5s 0.9s 1 forwards;
}
nav li:nth-child(7) {
  animation: pop 0.5s 1.05s 1 forwards;
}
nav li:hover {
  color: yellow;
}
section {

  margin-top: 120px ;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
section .title {
  max-width: 60%;
  width: 100%;
  align-self: center;
  transform: translateY(-50px);
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 10px;
}
section .title span {
  display: inline-block;
  font-size: 5vw;
  color: #efefef;
  width: 100%;
  text-transform: uppercase;
  transform: translateX(-100%);
  animation: byBottom 1s ease both;
  font-weight: 600;
  letter-spacing: 0.25vw;
}
section .container span {
  text-align: justify;
  font-size: 10px;
  color: #efefef;
  text-transform: uppercase;
  animation: byBottom 1s ease both;
  font-weight: 600;
  letter-spacing: 0.25vw;
}
section .title span:last-child {
  font-size: 12px;
  animation: byBottom 1s 0.25s ease both;
}
section .title span a {
  position: relative;
  display: inline-block;
  margin-left: 0.5rem;
  text-decoration: none;
  color: #f7ca18;
}
section .title span a::after {
  content: "";
  height: 2px;
  background-color: #f7ca18;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  animation: linkAfter 0.5s 1s ease both;
}
@-moz-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-webkit-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-o-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}

.container {
  animation: byBottom 1s ease both;
  opacity: 0.50;
  display: flex;
  padding: 4% 2%;
  box-sizing: border-box;
}
.container:hover{
  opacity: 1;
}
.box {
  height: 400px;
  animation: byBottom 1s ease both;
  flex: 1;
  overflow: hidden;
  transition: .7s;
  margin: 0 2%;
  box-shadow: 0 20px 30px #1b1b1b;
  line-height: 0;
}

.box > img {
  animation: byBottom 1s ease both;
  width: 100%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .7s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
  color: white; 
}
.box:hover { flex: 1 1 50%; }

.img{
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
} 


.logotipo{
  margin-bottom: 10px;
  border-radius: 100px 30px 150px 100px;
  animation: byBottom 1s ease both;
  height: 200px;
  width: 160px;
}
section .img span {
  padding-right: 30px;
  text-align:end;
  font-size: 12px;
  color: #efefef;
  text-transform: uppercase;
  animation: byBottom 1s ease both;
  font-weight: 600;
  letter-spacing: 0.25vw;
  writing-mode: vertical-rl;
}
.number{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  margin-top: 5px;
}
.number .chamada{
  height: 50px;
  width: 50px;
}
.number:hover > h2{
  visibility: visible;
}
.number h2{
  visibility: hidden;
  margin-right: 10px;
  font-size: 14px;
}

.social-menu{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  animation: byBottom 1s ease both;
}
.fa{
	padding: 10px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}
.fa-linkedin{
	color: rgb(43, 131, 186);
}
.fa-linkedin:hover{
  transform: scale(1.5); 
	transform: rotate(360deg);
	transition: all 0.6s ease-in;
}
.fa-github{
	color: white;
}
.fa-github:hover{
  transform: scale(1.5); 
	transform: rotate(360deg);
	transition: all 0.6s ease-in;
}
.fa-instagram{
	color: purple;
}
.fa-instagram:hover{
  transform: scale(1.5); 
	transform: rotate(360deg);
	transition: all 0.6s ease-in;
}

.imagem{
  max-width: 400px;
  max-height: 400px;
}
.vertical{
  margin-top: 10px;
  writing-mode: vertical-rl;
}

/* ! */
